<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="posnet.css">
    <title>Document</title>
</head>

<body>



<div class="checkout-panel" id="app">
    <div class="panel-body">
        <h2 class="title">Checkout</h2>

        <div class="payment-method">
            <label for="card" class="method card">
                <div class="card-logos">
                    <img src="https://designmodo.com/demo/checkout-panel/img/visa_logo.png" />
                    <img src="https://designmodo.com/demo/checkout-panel/img/mastercard_logo.png" />
                </div>
            </label>
        </div>

        <div class="input-fields">
            <div>
                <div class="card">
                    <label class="cardN" for="cardnumber">Card Number:
                        <input type="number"  v-model="card1Number"/>
                        <input type="number"  v-model="card2Number"/>
                        <input type="number"  v-model="card3Number"/>
                        <input type="number"  v-model="card4Number"/>
                    </label>
                </div>
                {{fixNumber}}
                <label for="cardholder">Nombre:</label>
                <input type="text" id="cardholder" />
                
                <div class="small-inputs">
                    <div class="date">
                        <label for="date">Fecha vencimiento: MM/AA</label>
                        <input type="text" id="date" placeholder="MM" v-model="month"/>
                        <p>/</p>
                        <input type="text" id="date" placeholder="AA" v-model="year"/>
                    </div>

                    {{fixYear}}
                    {{fixmonth}}
                    <div class="cvvContainer">
                        <label for="cvv">CVV*</label>
                        <input class="cvv" type="number" id="cvv" v-model="cvv" />
                        <span class="info">* CVV or CVC is the card security code, 
                                            unique three digits number on the back of
                                            your card separate from its number.
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel-footer">
        <button class="btn next-btn" v-on:click="paymentCard()">Pagar</button>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script src="posnet.js"></script>
</body>

</html>